
<!DOCTYPE html>
<html>
<head>
    <title> Deaddrops </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navmenu">
        <a href="/">Deaddrops</a>
        <a href="/report">Report</a>
        <a href="/logging">Logging</a>
        <a href="/about">About</a>
    </div>

    <div class="banner">
            _____                     _____
         -.-=   7 )                  /     - 
        /0  0  _  \\      ____________\/\  * |
       (=___._/\_/  _\___/ DEADDROPS  ]\/    /
        V  V    \  *         _____  *      /
                 \./_____*__/     \______*/

    </div>

    <p> Deaddrops was developed by Xeonrx, and goes by the MIT license. You can find the source at: https://github.com/Xeonrx/deaddrops </p>
    <p> With a given subnet value, Deaddrops will discover active & reachable hosts. The Nmap module is then used to detect the system that runs under reachable IP addresses.</p>
    <br />
    <p> Deaddrops uses Flask to peform via webapp, and is only a mere project. Issues/bugs can be filled out at: https://github.com/Xeonrx/deaddrops/issues <p>

     <div class="textbox">
         <img src="/static/logo_linux.png" width="45" height="45">
         <p> &ensp; Linux systems</p>
         <hr />
         <img src="/static/logo_windows.png" width="45" height="45">
         <p> &ensp; Windows systems</p>
         <hr />
         <img src="/static/logo_device.png" width="45" height="45">
         <p> &ensp; Unidentifyable systems</p>
         <hr />
     </div>

    <p> Logs are kept in "logfile.txt", and can be viewed in "logging.html".</p>
</body>
</html>