
<!DOCTYPE html>
<html>
<head>
    <title> Deaddrops </title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navmenu">
        <a href="/">Deaddrops</a>
        <a href="/report">Report</a>
        <a href="/logging">Logging</a>
        <a href="/about">About</a>
    </div>

     <div class="banner">
            _____                     _____
         -.-=   7 )                  /     - 
        /0  0  _  \\      ____________\/\  * |
       (=___._/\_/  _\___/ DEADDROPS  ]\/    /
        V  V    \  *         _____  *      /
                 \./_____*__/     \______*/

    </div>
    
    <p>[*] Log count: {{logamount}} </p>
    <div class="textbox">
        {% for i in logdata %}
        <p>&ensp; {{i}} </p>
        <hr />
        {% endfor %}

    </div>

</body>
</html>